@font-face {
   font-family: 'montserrat-extrabold';
   font-display: swap;
   src: url('file:///C:/Users/MKT13/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-06-26_005110/fonts/montserrat-extrabold/font.ttf');
}
